*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.clock {
    width: max-content;
    padding: 16px;
    border: 1px solid #333;
    border-radius: 8px;
    >.day{
        width: 100%;
        display: flex;
        list-style: none;
        >li{
            width: max-content;
            padding: 8px;
            border: 1px solid #333;
            border-radius: 6px;
            &:not(:last-child){
                margin-right: 8px;
            }
            &.active{
                border-width: 2px;
                border-style: solid;
                border-image: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00) 1;
                animation: glow 3s infinite alternate;
            }
        }
    }
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px #f00);
    }
    100% {
        filter: drop-shadow(0 0 20px #0f0);
    }
}