*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
  

}
.marvel-studio{
    width: 300px;
    height: 300px;
    background: url(./img/dr-strange-doing-magic-hands-u0bg9tmiouygq4ad.gif);
    background-size: cover;
    position: relative;
}
.a, .b, .c, .d{
    width: 150px;
    height: 150px;
    position: absolute;

}
.a{
    background: url(./img/A.gif);
    background-size: cover;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: super 2s infinite linear;
}
.b{
    background: url(./img/B.gif);
    background-size: cover;
  
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: kanachokh 2s infinite linear;
}
.c{
    background: url(./img/C.gif);
    background-size: cover;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: plate 2s infinite linear;
}
.d{
    background: url(./img/D.gif);
    background-size: cover;
    border-radius: 10px;
    bottom:-100px;
    right: -100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: agun 2s infinite linear;
}

@keyframes super {
    0%{
        top: -75px;
        left: -75px;
    }
    25%{
        top: -75px;
        left: 225px;
    }
    50%{
        top: 225px;
        left: 225px;
    }
    75%{
        top: 225px;
        left: -75px;
    }
    100%{
        top: -75px;
        left: -75px;
    }
}

@keyframes kanachokh {
    0%{
        top: -75px;
        right:-75px;
    }
    25%{
        top: 225px;
        right: -75px;
    }
    50%{
        top: 225px;
        right: 225px;
    }
    75%{
        top: -75px;
        right: 255px;
    }
    100%{
        top: -75px;
        right: -75;
    }
}
@keyframes plate {
    0%{
        bottom:-75px;
        left: -75px;
    }
    25%{
        bottom: -75px;
        right: 225px;
    }
    50%{
        bottom: 225px;
        right: 225px;
    }
    75%{
        top: 225px;
        right: -75px;
    }
    100%{
        top: -75px;
        right: -75px;
    }
}


@keyframes agun {
    
    0%{
        bottom:-75px;
        left: -75px;
    }
    25%{
        bottom: 225px;
        left: -75px;
    }
    50%{
        bottom: 225px;
        left: 225px;
    }
    75%{
        bottom: -75px;
        left: 225px;
    }
    100%{
        bottom: -75px;
        left: -75px;
    }
}