/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: sokhina;
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

.abul {
    width: 80%;
    height: 600px;
    margin: 30px auto;
    background: dodgerblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.babul {
    width: 300px;
    height: 230px;
    background: limegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sokhina;
}